.body{
	background-color: grey;
	font-family: Titillium Web, arial;
	
}

.wrapper{
	width: 1020px;
	height: 1380px;
	background-color: white;
	margin: 0px auto;
}

.header{
	width: 1020px;
	height: 100px;
	background-color: white;

}

.logo{
	padding-top: 40px;
	padding-bottom: 14px;
	padding-left: 70px;
	float: left;
}

.search{
    float: right;
    font-family: Titillium Web;
    padding: 40px 120px 0px 0px;
}

.input-type{
	height: 20px;
	border-radius: 0px;
	border: 1px solid #707070;
	float: left;
}

.btn{
    width: 25px;
    height: 24px;
    border: none;
    background-image: url(photo[6].jpg);
   	background-repeat: no-repeat;
	cursor: pointer;
}

.nav{
	background-color: #bdbdbd;
	width: 960px;
	height: 40px;
	margin-left: 30px;
}

.nav ul{
	margin: 0px;
	padding: 0px;
    list-style: none;

}

.nav ul li{
	display: inline;
	font-family: Titillium Web;
	font-size: 20px;
	margin: 0px;
	float: left;
	margin-top: 5px;
}

.nav ul li a{
	color: #333333;
	text-decoration: none;
    font-weight: bold;
    padding: 5px 20px 5px 20px;

}

.nav ul li a:hover{
	color: white;
	background-color: #cc0000;

}

.mainphoto{
	margin: 0px 0px 0px 30px;
	padding: 0px;
}

.content{
	width: 960px
	margin: 0px;
	padding: 0px;
}

.maincontent{
    width: 525px;
    float: left;
    margin-left: 45px;
    padding-right: 0px;
    margin-top: 10px;
}

.latest h2{
	margin: 0px 0px 18px 0px;
	padding: 0px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: Titillium Web;
    border-bottom: 2px solid #cc0000;
}

.articles{
	width: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.articles img{
	width: 230px;
	height: 165px;
	margin: 0px 10px 0px 0px;
	float: left;
	transition: transform .2s ease;
}

.article img:hover{
	transform: scale(1.1);
}


.articles h2{
	font-family: Bahnschrift, Titillium Web, arial;
	text-transform: capitalize;
	margin: 0px 34px 4px 5px;
}

.articles a{
	text-decoration: none;
	color: #262626;
}

.articles p{
	font-family: Bahnschrift, Titillium Web, arial;
	margin: 0px 0px 0px 22px;
	font-size: 18px;
	text-transform: capitalize;
	line-height: 26px;
}

/*---------------*/

.articles2{
	width: 100%;
	margin-bottom: 5px;
	padding-bottom: 0px;
}

.articles2 img{
	width: 460px;
	height: 200px;
	margin: 4px 10px 10px 0px;
	float: left;
	transition: transform .2s ease;
}

.article2 img:hover{
	transform: scale(1.1);
}


.articles2 h2{
	font-family: Bahnschrift, Titillium Web, arial;
	text-transform: capitalize;
	margin: 10px 0px 15px 5px;
}

.articles2 a{
	text-decoration: none;
	color: #262626;
}

/*---------------*/

.articles3{
	width: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.articles3 img{
	width: 450px;
	height: 185px;
	margin: 0px 10px 0px 0px;
	float: left;
	transition: transform .2s ease;
}

.article3 img:hover{
	transform: scale(1.1);
}


.articles3 h2{
	font-family: Bahnschrift, Titillium Web, arial;
	text-transform: capitalize;
	margin: 0px 34px 15px 5px;
}

.articles3 a{
	text-decoration: none;
	color: #262626;
}

/*---------------*/

.secondcontent{
	width: 380px;
    float: right;
    margin-right: 45px;
    padding-right: 0px;
    margin-top: 10px;
}

.popular h2{
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: Titillium Web;
    border-bottom: 2px solid #cc0000;
}

.links ul{

}

.links ul li{
	line-height: 24px;

}

.links ul li a{
	text-decoration: none;
	color: #262626;
	font-family: Bahnschrift, Titillium Web, arial;
	text-transform: capitalize;
	font-size: 17px;
	line-height: 0px;

}

.links ul li a:hover{
	color: #cc0000;
	
}

.photos{

}

.photos img{
	width: 280px;
	height: 180px;
	margin: 15px 0px 15px 55px;
}

/* pageginaton */

.pages{

}

.pages ul{
	margin-left: 120px;
}

.pages ul li{
	display: inline;
	margin: 5px;

}

.pages ul li a{
	font-family: Bahnschrift, Titillium Web, arial;
	font-size: 16px;
	text-decoration: none;
	color: #262626;

}

.pages ul li a:hover{
	color: #cc0000;
	/*text-shadow: 2px 2px #cc0000;*/

}

.bottom{
	width: 950px;
	height: 155px;
	background-color: #cc0000;
	margin-left: 35px;
	margin-top: 35px;
}
.bottom p{
	color: #ffffff;
	font-family: Bahnschrift, Titillium Web, arial;
	padding-top: 18px;
}